.gitignore
gitignore-files/
**/gitignore-files/
*.key
*.crt
.vscode/
.idea/
*.iml
node_modules/
dist/
# OS / system files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary / swap / backup files
*.tmp
*.swp
*.swo
*~
*.bak
# Archives
*.zip
*.tar
*.tar.gz
*.rar
*.7z
.nojekyll